<style>
<head>
body {
  background-image: url('bo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>

.city {
  background-color: black;
  color: white;
  padding: 10px;
}

</style>
</head>
<body>
